<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies Recommendation</title>
  </head>
  <style>
      h1{text-align: center;}
      div{text-align: center;}
      body{
        background-image: url("back.jpg");
        background-repeat: no-repeat;

      }
     
  </style>
  <body>
    <h1> <font face = "Verdana" size  = "6">Welcome to Movies Recommendation System</font></h1>
    <ol class="list-group list-group-numbered">
      
        <li class="list-group-item"><font face = "Comic sans MS" size = "5" color = "red">Comedy</font></li>
        <li class="list-group-item"><font face = "Comic sans MS" size = "5" color = "red">Action</font></li>
        <li class="list-group-item"><font face = "Comic sans MS" size = "5" color = "red">Romantic</font></li>
        <li class="list-group-item"><font face = "Comic sans MS" size = "5" color = "red">Horror</font></li>
        <li class="list-group-item"><font face = "Comic sans MS" size = "5" color = "red">Animated</font></li>
        <li class="list-group-item"><font face = "Comic sans MS" size = "5" color = "red">Crime</font></li>
        <li class="list-group-item"><font face = "Comic sans MS" size = "5" color = "red">Science Fiction</font></li>
        <li class="list-group-item"><font face = "Comic sans MS" size = "5" color = "red">Exit</font></li>
      </ol>
    </div>
  <div class="input-group">
    <div class="input-group-text" id="btnGroupAddon"><font face = "Comic sans MS" size = "5" color = "blue"</font> Enter Your Favourite Genra</div>
    <input type="text" class="form-control"  placeholder="Genra Please" aria-label="Genra Please" aria-describedby="btnGroupAddon">
  </div>
  
  </body>
</html>